

.proj-info{
overflow: hidden;
height: 90%;
}
.proj-about{
    font-size: 13px;
}
.proj-about > img{
    height: 100px;
}
.proj-tech > div{
margin-left: 15px;
}

.proj-tech{
    display: flex;
    font-size: 13px;
}

.proj-tech img{
height: 25px;
margin-right: 10px;
}

.modal-container{
    display: none;
    font-family: Rubik;
}

.modal-background{
background: #222222ab;
position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 100%;
z-index: 1;
}

.modal-content{
    background: white;
    color: #222222;
    height: 75%;
    width: 80%;
    max-width: 650px;
    margin: 50px auto;
    border-radius: 10px;
    z-index: 2;
    padding: 30px;
    position: relative;
}

.modal-content > h2{
text-decoration: underline;
}

.modal-content > button{
    background: #222222;
    color: white;
    border: none;
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}

.modal-content > button:hover{
    opacity: .8;
}

.modal-content > button:focus{
outline: none;
}
.show-modal{
    display: block;
}

.show-content{
    opacity: 1;
}


@media (min-width: 600px){
.proj-info{
display: flex;
height: 100%;
}
.proj-about{
    width: 40%;
    margin-right: 10%;
    font-size: 18px;
    
}

.proj-tech{
    font-size: 18px;
    width: 50%;
    flex-direction: column;
}    
.proj-tech b{
    font-size: 18px;
}
.proj-tech img{
    margin-bottom: 10px;
}
.proj-tech>div a{
    display: block;
    margin: -5px 0;
}
.proj-tech div{
margin-bottom: 10px;
}
    .proj-about > img{
    width: 250px;
    object-fit: cover;
    object-position: top;
    }
}